* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none !important;

  outline: none !important;
}

li, ul {
  list-style: none;
}

// FLEX BOX

.flexStart {
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

.flex {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flexBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 568px) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.flexDirection {
  display: flex;
  flex-direction: column
}


// BORDER


// SWIPER

.swiper {
  height: 32vh;

  padding: 24px 24px;

    
  @media screen and (max-width: 568px) {
      padding: 48px 12px;
  }
}

.swiper-slide {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
}



// WIDTH AND HEIGHT

.w-40 {
  width: 40%;

  @media screen and (max-width: 568px) {
    width: 100%;
  }
}

.w-30 {
  width: 30%;

  @media screen and (max-width: 568px) {
    width: 100%;
  }
}

.w-50 {
  width: 50%;

  @media screen and (max-width: 568px) {
    width: 100%;
  }
}


// COLORS

.whiteDark {
  color: #EFEFEF;
}

// SPACING

.mt4 {
  margin-top: 4px;
}

.mt20 {
  margin-top: 20px;
}

.ml4 {
  margin-left: 4px;
}



// FONT

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500
}

.font-bold {
  font-weight: bold
}

.textRed {
  color: #DA251E;

  font-size: 18px;
  font-weight: 500;

  text-transform: uppercase
}

@import "components/spacing";
@import "components/breakpoints";
@import "components/hospital";
@import "components/colors";
@import "components/hero";
@import "components/header";
@import "components/exames";
@import "components/contato";
@import "components/footer";
@import "components/transparencia";
@import "components/tipography";
@import "components/especialidades";