// PRIMARY COLORS
$blue-900: #022f46;
$blue-800: #033f5d;
$blue-700: #044f75;
$blue-600: #045f8c;
$blue-500: #0570a4;
$blue-400: #078fd3;
$blue-300: #12abf8;
$blue-200: #42bcf9;
$blue-100: #71cdfb;

$white-900: #ffffff;

// SECONDARY COLORS
$red-700: #9d1a15;
$red-600: #bc1f1a;
$red-500: #da251e;
$red-400: #e9605c;
$red-300: #ef908d;

$black-700: #080707;
$black-600: #100e0e;
$black-500: #131111;

$gray-400: #4d4d4d;
$gray-300: #999999;

// INPUTS

$error: red;
$sucess: green;
$warning: yellow;
