.especialidadesText {
    max-width: $container-xl;
    margin: 0 auto;

    padding: 124px 24px;

    @include responsive(s) {
        padding: 48px 12px;


        .p-mtMobile {
            margin-top: 20px !important;
        }
    }

    margin-top: 124px;
    
}


// SWIPER 

.container {
    max-width: $container-xl;
    margin: 0 auto;

    padding: 0px 24px;
    
    @include responsive(s) {
        padding: 48px 12px;
    }
}

.swiper-button-prev {
    background: #E5E5E5;
    border-radius: 4px;

    color: #fff;

    padding: 24px;
}

.swiper-button-next {
    background: #E5E5E5;
    border-radius: 4px;

    color: #fff;

    padding: 24px;

    margin-left: 40px;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 0 !important;
    left: 28px !important;
}

.swiper-button-next, .swiper-button-prev {
    color: $blue-500 !important;

    position: relative !important;

    top: 0 !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 20px !important;
}

.circle-swiper {
    border-radius: 100px;
    background-color: #F2F2F2;

    border: 1.4px solid $blue-500;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 72px;
    height: 72px;
}
